.menu-max {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  padding-top: 20px;
  .menu-min {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5vw;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid white;
    height: 4.5vw;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 4vw;
        height: 4vw;
        margin: 0px 20px;
      }
      img {
        animation: rotate 5s linear infinite;
      }
      p {
        letter-spacing: 1px;
        font-size: 1.3vw;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-image: radial-gradient(rgb(50, 0, 50) 10%, black 100%);
      border-radius: 0px 5px 5px 0px;
      border-left: 1px solid white;
      gap: 0.5vw;
      height: 100%;
      width: 50%;
      p {
        cursor: pointer;
        font-family: "Archivo Narrow", sans-serif;
        font-size: 1.33vw;
        padding: 5px 10px;
      }
      .active {
        background: -webkit-linear-gradient(
          140deg,
          rgb(255, 0, 255),
          orangered
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 900;
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotatez(360deg);
  }
}

@media screen and (max-width: 500px) {
  .menu-max {
    padding: 0;
    .menu-min {
      height: 100vh;
      margin: 0;
      border: none;
      border-bottom: none;
      .logo {
        display: none;
      }
      .menu {
        flex-direction: column;
        justify-content: start;
        width: 100%;
        border-left: none;
        border-radius: 5px;
        background-image: none;
        p {
          text-align: center;
          font-size: 8vw;
          padding: 5vw 0px;
          width: 100%;
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
