<div class="menu-max">
  <div class="menu-min">
    <div class="logo">
      <img src="\assets\logos\rotation.png" alt="" />
      <p>Di Benedetto Michele</p>
    </div>
    <div class="menu">
      <p routerLink="homepage" routerLinkActive="active">Homepage</p>
      <p routerLink="about-me" routerLinkActive="active">About Me</p>
      <p routerLink="projects" routerLinkActive="active">Progetti</p>
      <p routerLink="contatti" routerLinkActive="active">Contatti</p>
    </div>
  </div>
</div>
