<div class="content-max">
  <div class="paragraph">
    <div class="text">
      <h1>front<span class="end beat">-end</span> developer</h1>
      <p>
        Ciao sono Michele, da oltre 3 anni mi occupo di creare interfacce web
        dal design semplice ma efficace, curando al meglio la UX.
      </p>
    </div>
    <div class="buttons">
      <button routerLink="/projects">I miei progetti</button>
      <button class="wa" (click)="openWhatsApp()">
        <i class="fa-brands fa-whatsapp"></i> Contattami
      </button>
    </div>
  </div>
  <div class="image-max">
    <div class="image">
      <img src="\assets\mdbProfilePhoto.jpg" alt="" />
    </div>
  </div>
</div>
