.content-max {
  display: flex;
  align-items: top;
  height: calc(100vh - 80px);
  padding-top: 9vw;
  .paragraph {
    display: flex;
    flex-direction: column;
    width: 65%;
    h1 {
      opacity: 0;
      animation: show-text 1s ease forwards;
    }
    .text {
      font-family: "Archivo Narrow", sans-serif;
      letter-spacing: 1px;
      span.end {
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        text-shadow: 8px 8px 0px orangered;
        -webkit-text-fill-color: black;
        // background: -webkit-linear-gradient(140deg, rgb(255, 0, 255), orangered);
      }
      p {
        font-size: 1.5vw;
        padding: 15px 0px 25px;
        width: 75%;
        opacity: 0;
        animation: show-text 1s ease forwards;
        animation-delay: 0.2s;
      }
    }
    .buttons {
      display: flex;
      gap: 20px;
      opacity: 0;
      animation: show-text 1s ease forwards;
      animation-delay: 0.5s;
      button {
        padding: 0.5vw 1vw;
        font-size: 1.3vw;
        border-radius: 5px;
        border: 2px solid white;
        color: white;
        background: transparent;
        transition: 0.2s linear;
      }
      .wa {
        i {
          color: lime;
        }
        border: 2px solid lime;
      }
      button:hover {
        background: linear-gradient(
          140deg,
          rgba(255, 68, 0),
          rgba(255, 0, 255)
        );
        color: white;
        box-shadow: 0px 4px 10px white;
        margin-top: -4px;
        margin-bottom: 4px;
        border-color: white;
      }
    }
  }

  .image-max {
    display: flex;
    justify-content: end;
    width: 30%;
    height: 25vw;
    opacity: 0;
    animation: show-image 2s ease forwards;
    animation-delay: 0.7s;
    .image {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-image: linear-gradient(140deg, rgb(255, 0, 255), orangered);
      padding: 5px;
      transition: 0.2s ease;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        transition: 0.5s ease-in-out;
      }
    }
    .image:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: black;
    }
  }
}

@keyframes show-text {
  0% {
    transform: scale(0) rotatex(-50deg);
    opacity: 0;
  }
  50% {
  }
  100% {
    opacity: 1;
    transform: scale(1) rotatex(0);
  }
}

@keyframes show-image {
  0% {
    transform: scale(0) rotate(-50deg);
    opacity: 0;
  }
  50% {
    transform: scale(1.1) rotate(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

@media screen and (max-width: 500px) {
  .content-max {
    padding: 0;
    flex-direction: column;
    gap: 5vw;
    padding: 3vw 0vw;
    .paragraph {
      width: 100%;
      .text {
        p {
          padding: 3vw 0px;
          font-size: 6vw;
          width: 100%;
          text-align: justify;
        }
      }
      .buttons {
        justify-content: space-between;
        button {
          width: 50%;
          font-size: 5vw;
          padding: 2vw 3vw;
        }
      }
    }
    .image-max {
      width: 100%;
      height: 40%;
      .image {
        padding: 0;
        background-image: none;
      }
    }
  }
}
