<div class="content-max">
  <div class="title">
    <h2>About Me</h2>
  </div>
  <div class="paragraph">
    <div class="text-button">
      <p class="text">
        👋 Sono un Junior Frontend Developer con una forte passione per la
        tecnologia e l'informatica. Nel mio percorso formativo ho lavorato su
        progetti personali e in team, creando applicazioni web responsive e
        curandone ogni particolare. Con il passare del tempo ho imparato a
        sviluppare utilizzando il framework Angular, affinando così le mie
        competenze in HTML, SCSS e JavaScript. Continuo a crescere ogni giorno
        imparando nuove tecnologie, approfondendo nuovi argomenti, seguendo
        videocorsi online e soprattutto facendo molta pratica scrivendo codice
        giornalmente.
        <br />
        🎯 Il mio obiettivo è contribuire nella creazione di prodotti web
        semplici e ben curati.
      </p>
      <a href="/assets/CV_Di_Benedetto_Michele.pdf" download class="CV"
        ><i class="fas fa-download"></i> Download CV
      </a>
    </div>
    <div class="image">
      <img src="\assets\introHomePage.jpeg" alt="" />
      <!-- <img src="\assets\front-end.png" alt=""> -->
    </div>
  </div>
</div>
