.content-max {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 25vh 0px;
  .all-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    .single-service {
      padding: 20px;
      width: 32%;
      height: 20vw;
      border-radius: 20px;
      background-color: transparent;
      transition: 0.1s linear;
      border: 2px solid white;
      .name {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        img {
          width: 4vw;
        }
        p {
          font-size: 2vw;
          font-weight: 100;
          font-family: "Orbitron", sans-serif;
          transition: 0.3s ease-in-out;
        }
      }
      .description {
        p {
          font-size: 1.3vw;
          font-family: "Archivo Narrow", sans-serif;
          line-height: 1.5vw;
        }
      }
    }

    .single-service:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer;
      .name {
        p {
          padding-left: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content-max {
    padding: 20vw 0px;
    justify-content: center;
    .all-services {
      flex-direction: column;
      gap: 5vw;
      padding: 0;
      .single-service {
        width: 100%;
        padding: 10px 20px;
        height: max-content;
        min-height: 40vw;
        .name {
          img {
            width: 12vw;
          }
          p {
            font-size: 6vw;
          }
        }
        .description {
          p {
            font-size: 5vw;
            line-height: 6vw;
          }
        }
      }
    }
  }
}
