@if(project != null){
<div class="content-max">
  <div class="title-arrow">
    <button class="arrow" routerLink="..">
      <img src="/assets/back.png" alt="">
    </button>
    <div class="title">
      <h2>{{project.name}}</h2>
    </div>
  </div>
  <div class="content">
    <div class="description-project">
      <div class="description">
        <h3>descrizione progetto:</h3>
        <p>{{project.descriptionProject}}</p>
      </div>
      <div class="tecnologies">
        <h3>tecnologie utilizzate:</h3>
        <p>({{project.coding}})</p>
      </div>
      <div class="repository">
        <p>Vai al repository GitHub:</p>
        <a href="https://github.com/micheledben/E-commerce-bag" target="_blank">BagsCrochet2 <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="title-images">
      <div class="title">
        <h3>responsive design per desktop, tablet e smartphone</h3>
      </div>
      <div class="responsive-container">
        <div class="images">
          <p>Visulizzazione PC</p>
          <div class="single-image">
            <div class="image-pc">
              <img [src]="project.images[3]" alt="">
            </div>
            <div class="image-pc">
              <img [src]="project.images[4]" alt="">
            </div>
          </div>
        </div>
<hr>
        <div class="images">
          <p>Visulizzazione Smartphone</p>
          <div class="single-image">
            <div class="image-smartphone">
              <img [src]="project.images[6]" alt="">
            </div>
            <div class="image-smartphone">
              <img [src]="project.images[7]" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
}

<!-- @if(project != null){
@if(projectName == 1){
<div class="content-max">
  <div class="title-arrow">
    <button class="arrow" routerLink="..">
      <img src="/assets/back.png" alt="">
    </button>
    <div class="title">
      <h2>{{project.name}}</h2>
    </div>
  </div>
  <div class="all-images">
    <div class="images" *ngFor="let image of project.images">
      <img [src]="image" alt="">
    </div>
  </div>
</div>
}
@else if (projectName==2) {
<div class="content-max">
  <div class="title-arrow">
    <button class="arrow" routerLink="..">
      <img src="/assets/back.png" alt="">
    </button>
    <div class="title">
      <h2>{{project.name}}</h2>
    </div>
  </div>
  <div class="all-images">
    <img [src]="project.images[3]" alt="">
  </div>
</div>
}
@else if (projectName==3) {
<div class="content-max">
  <div class="title-arrow">
    <button class="arrow" routerLink="..">
      <img src="/assets/back.png" alt="">
    </button>
    <div class="title">
      <h2>{{project.name}}</h2>
    </div>
  </div>
  <div class="all-images">
    <img [src]="project.images[3]" alt="">
  </div>
</div>
}
} -->
