.content-max {
  padding: 2vw 0px;
  min-height: calc(100vh - 7vw);
  width: 100%;
  overflow: hidden;
  .title-arrow {
    display: flex;
    align-items: center;
    gap: 2vw;
    animation: show-title-card 1s forwards;
    .arrow {
      width: 2.7vw;
      height: 2.7vw;
      background-color: white;
      padding: 0.4vw;
      border-radius: 100%;
      img {
        width: 100%;
      }
    }
  }
  .content {
    padding: 2vw 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    opacity: 0;
    animation: show-title-card 1s forwards;
    animation-delay: 0.5s;
    p {
      font-size: 1.3vw;
      font-family: "Archivo Narrow", sans-serif;
    }
    .description-project,
    .title-images {
      padding: 1.5vw;
      border: 2px solid white;
      border-radius: 20px;
    }
    .description-project {
      display: flex;
      flex-direction: column;
      gap: 2vw;
      width: 30%;
      height: max-content;
    }
    .repository {
      p {
        font-family: "Orbitron", sans-serif;
      }
      a {
        color: white;
        text-decoration: none;
        font-size: 1.3vw;
        font-family: "Archivo Narrow", sans-serif;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .title-images {
      display: flex;
      flex-direction: column;
      width: 70%;
      .responsive-container {
        display: flex;
        flex-direction: column;
        gap: 2vw;
      }
      .title {
        padding: 0px 0px 2vw;
      }
      .images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vw;
        width: 100%;
        gap: 2vw;
        p {
          width: 20%;
        }
        .single-image {
          width: 80%;
          display: flex;
          flex-direction: row;
          gap: 1vw;
          .image-pc {
            object-fit: cover;
            height: 13vw;
            width: 50%;
          }
          .image-smartphone {
            height: 30vw;
            width: 50%;
          }
          .image-pc,
          .image-smartphone {
            padding: 0.5vw;
            background-color: white;
            overflow-y: scroll;
            scrollbar-width: none;
            img {
              object-fit: cover;
              object-position: top;
              width: 100%;
              cursor: ns-resize;
            }
          }
        }
      }
    }
  }
}

@keyframes show-title-card {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .content-max {
    height: max-content;
    .title-arrow {
      justify-content: space-between;
      .arrow {
        width: 8vw;
        height: 8vw;
        padding: 1vw;
      }
      .title {
        width: 90%;
        text-align: center;
      }
    }
    .content {
      padding: 5vw 0vw;
      flex-direction: column;
      gap: 5vw;
      h3 {
        font-size: 5vw;
      }
      p {
        font-size: 5vw;
      }
      .description-project {
        width: 100%;
        padding: 2vw 3vw;
      }
      .repository {
        a {
          font-size: 5vw;
        }
      }
      .title-images {
        width: 100%;
        .responsive-container {
          gap: 5vw;
        }
        .title {
          padding: 0vw 0vw 5vw;
        }
        .images {
          flex-direction: column;
          p {
            width: 100%;
            text-align: center;
          }
          .single-image {
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 5vw;
            .image-pc {
              height: 50vw;
              width: 100%;
            }
            .image-smartphone {
              height: 100vw;
              width: 75%;
            }
          }
        }
      }
    }
  }
}
