<div class="content-max autoshow-rev">
  <div class="title autoshow">
    <h2>About Me</h2>
  </div>
  <div class="paragraph">
    <div class="image image-reveal">
      <img src="\assets\introHomePage.jpeg" alt="">
      <!-- <img src="\assets\front-end.png" alt=""> -->
    </div>
    <div class="text autoshow2">
      <p>👋 Sono un Junior Frontend Developer con una forte passione per tecnologia e l'informatica.
        Nel mio percorso ho lavorato su progetti personali e collaborativi, curando ogni dettaglio del codice e del
        design, sempre con attenzione alle performance e alla responsività.
        Nel corso del tempo ho imparato a programmare, partendo da HTML e CSS, passando per JavaScript sino ad arrivare
        ad utilizzare il framework Angular.
        Continuo a crescere ogni giorno imparando nuove tecnologie, approfondendo nuovi argomenti, seguendo videocorsi online
        e soprattutto facendo molta pratica scrivendo codice.
        <br>
        🎯 Il mio obiettivo è contribuire a creare prodotti web semplici e ben curati. </p>
    </div>
  </div>
</div>
