.content-max {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    border: 2px solid white;
    border-radius: 20px;
    padding: 2vw 0px;
    p {
      font-size: 1.5vw;
      font-family: "Archivo Narrow", sans-serif;
    }
    .images {
      display: flex;
      justify-content: space-between;
      width: 75%;
      .image-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 8%;
        p {
          text-transform: uppercase;
          font-size: 1.3vw;
          margin-top: 10px;
        }
        img {
          width: 100%;
        }
        img:hover {
          animation: rotate 0.5s ease-in-out;
        }
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotatey(360deg);
  }
}

@media screen and (max-width: 500px) {
  .content-max {
    justify-content: center;
    padding: 10vw 0px;
    .paragraph {
      p {
        font-size: 6vw;
      }
      .images {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        .image-text {
          width: 30%;
          p {
            font-size: 5vw;
          }
        }
      }
    }
  }
}
