<div class="content-max">
  <div class="paragraph autoshow-rev">
    <h2 class="autoshow">Skills</h2>
    <p class="autoshow">Tools e framework:</p>
    <div class="images autoshow">
      <div class="image-text">
        <img src="\assets\logos\html.png" alt="">
        <p>html</p>
      </div>
      <div class="image-text">
        <img src="\assets\logos\css.png" alt="">
        <p>css</p>
      </div>
      <div class="image-text">
        <img src="\assets\logos\scss.png" alt="">
        <p>scss</p>
      </div>
      <div class="image-text">
        <img src="\assets\logos\js.png" alt="">
        <p>js</p>
      </div>
      <div class="image-text">
        <img src="\assets\logos\angular.png" alt="">
        <p>angular</p>
      </div>
      <div class="image-text">
        <img src="\assets\logos\github.png" alt="">
        <p>github</p>
      </div>
      <div class="image-text">
        <img src="\assets\logos\bootstrap.png" alt="">
        <p>bootstrap</p>
      </div>
    </div>
  </div>
</div>
